<div class="col-sm-3">
    <a href="" class="btn btn-danger btn-block btn-compose-email">Lets Play!</a>
    <ul class="nav nav-pills nav-stacked nav-email shadow mb-20">
        <li class="active">
            <a href="{{ path_for('auth.chat') }}">
                <i class="fa fa-inbox"></i> Inbox <span class="label pull-right">7</span>
            </a>
        </li>

        <li>
            <a href="#"><i class="fa fa-certificate"></i> Visitors</a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-file-text-o"></i> Matches <span class="label label-info pull-right inbox-notification">35</span>
            </a>
        </li>
        <li><a href="#"> <i class="fa fa-location-arrow"></i> People Near By</a></li>
    </ul><!-- /.nav -->

    <h5 class="nav-email-subtitle">More</h5>
    <ul class="nav nav-pills nav-stacked nav-email mb-20 rounded shadow">
        <li>
            <a href="#">
                <i class="fa fa-handshake-o" aria-hidden="true"></i> Promotions <span
                        class="label label-danger pull-right">3</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-flag-o"></i> Job list
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-cogs"></i> Terms and Conditions
            </a>
        </li>
    </ul><!-- /.nav -->
</div>
